html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;  /* Evita scroll */
  width: 100%;
  height: 100%;
}

body > canvas {
  display: block; /* elimina espacio extra inline */
  position: fixed; /* o absolute */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
